# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
build/
dist/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Databases
*.sqlite3
*.db
